/* 
COLORS
Primary: Blue (#061844) Sand (#E2C081) Garnet (#8E001C)

*/
/*#################################LOGIN CSS##################################*/
.btnSubmit
{
    width: 125px;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #061844;
    color:#fff;
}

.login-container
{
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 28%;
    
}
@media (max-width:500px) {
.login-container
{
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 20%;
    
}
}
.login-container form
{
    padding: 10%;
}

.login-container input
{
    border: 1px #E2C081 solid;
}
/*###### DRIVER #######*/

.driver-login-form
{
    padding: 5%;
    border: 1px #E2C081 solid;
    background-color: #fceac6;

}

@media (max-width:700px) {
.driver-login-form
{
    padding: 5%;
    border: none;
    background-color: #fceac6;
}
}

@media (max-width:800px) {
.driver-login-form
{
    padding: 5%;
    border-bottom: 1px #E2C081 solid;
    border-left: none;
    border-right: none;
    background-color: #fceac6;
}
}


.driver-login-form h2
{
    text-align: center;
    color: #061844;
}

.driver-login-form a
{
    color: #061844;
}

.driver-login-form .btnSubmit
{
    font-weight: 600;
    color: #fff;
    background-color: #061844;
}

.driver-login-form .ForgetPwd
{
    color: #061844;
    font-weight: 600;
    text-decoration: none;
}

/*###### RIDER ######*/

.rider-login-form
{
    padding: 5%;
    background: #fceac6;
    border-top: 1px #E2C081 solid;
    border-right: 1px #E2C081 solid;
    border-bottom: 1px #E2C081 solid;

}

@media (max-width:700px) {
.rider-login-form
{
    padding: 5%;
    border-top: 1px #E2C081 solid;
    border-right: none;
    border-bottom: none;
    background-color: #fceac6;
}
}

@media (max-width:800px) {
.rider-login-form
{
    padding: 5%;
    border: none;
    background-color: #fceac6;
}
}

.rider-login-form h2
{
    text-align: center;
    color: #061844;
}

.rider-login-form .btnSubmit
{
    font-weight: 600;
    color: #fff;
    background-color: #061844;

}

.rider-login-form .ForgetPwd
{
    color: #061844;
    font-weight: 600;
    text-decoration: none;
}
.rider-login-form .Register
{
    color: #061844;
}


/* ######################### Confirmation Pages ######################### */

.confirm
{
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
   
}

.confirm h1
{
    color: #061844;
    font-size: 45px;
    margin-top: 10%;
    margin-bottom: 5%;
    
 
}

.confirm h2
{
    color: #061844;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
    
 
}

.confirm h3
{
    margin-bottom: 10%;
    color: #061844;
}

.confirm h4
{
    margin-bottom: 10%;
    color: #061844;
}

.confirm-container
{
    margin: 0 auto;
    margin-bottom: 5%;
    width:50%;
    min-height: 400px;
    height: 50%;
    background-color: #fceac6;
    border-top: 1px solid #E2C081;
    border-left: 1px solid #E2C081;
    border-right: 1px solid #E2C081;
    border-bottom: 1px solid #E2C081;
}
@media (max-width:500px) {
.confirm-container
{
    padding: 2%;
    width:100%;
}
}

.confirm-container button
{
    width: 125px;
    height: 15%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #061844;
    color:#fff;
    font-size: 95%;
    float: center;
}

@media (max-width:500px) {
.confirm-container button
{
    margin: 0 auto;
    margin-top: 1%;
    display: block;
    padding-top: 5
}
}

.container-header
{
    margin: 0 auto;
    margin-top: 5%;
    padding-left: 5%;
    width:50%;
    background-color: #E2C081;
    
}

.container-header a
{
    color:#061844;
    padding-left: 10%;
    font-color: #061844;
}

.container-footer
{
    margin: 0 auto;
    margin-left: 46%;
    align: center;
}


.container-footer a
{
    margin: 50%;
    align: center;
    color: #061844;
}

@media (min-width:300px) {
.container-footer a
{
    margin: 2%;
    align: center;
    color: #061844;
}
}

.main-container
{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width:50%;
    min-height: 400px;
    height: 50%;
    background-color: #fceac6;
    outline: 1px solid black;
}
/*########################### SIGNUP CSS #####################################*/

@media (min-width:300px) {
.signup-container
{
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 5%;
    width: 50%;
    min-height: 400px;
    height: 65%;
    background-color: #fceac6;
    border: 1px #E2C081 solid;
}
}
.signup-container h3
{
    color: #061844;
}

.signup-form
{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.signup-form input
{
    border: 1px #E2C081 solid;
}

/*########################## RIDE CREATION  ##################################*/

label 
{
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

