/* 
COLORS
Primary: Blue (#061844) Sand (#E2C081) Garnet (#8E001C)
*/


body{
    line-height: 17px;
    /*background-color: #E6EAE8; this addes a gray background*/ 
        
}
.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #061844;
    border-bottom: 0.25em solid #2980b9;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    font-size: 150%;
    position: relative;
    top: 9px;
    text-shadow: #7386E2 0.5px 0.5px 0px;
    color: #FFFFFF;
}

a:hover{
    text-decoration: none;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav hover{
    border-bottom: 7px solid #e67e22;
    color: #fff;
}

/***************STYLING THE USER DETAILS PAGE*********/
.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width:950px;    
}

.column{
    background-color:#fff; 
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px #D3D3D3;
    z-index: -1;
}

.user_details {
    width: 275px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right
{
    width: 125px;
    display: inline-block;
    position: absolute;
}

user_details img {
    height: 125px;
    border-radius: 10px;
    margin-right: 5px;
}

/*MAIN PAGES*/

.main_column
{
    background-color: #fceac6;
    float:right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post_form
{
    width: 100%;
}

.member_post{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
}

.post_profile_pic
{
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.post_profile_pic img
{
    border-radius: 5px;
}



